@use "../../style.scss" as v;

.chat-container {
  .chat-left,
  .chat-right {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-bottom: 5 * v.$spacing-unit;
  }

  div.chat-right {
    margin-top: 10 * v.$spacing-unit;
  }

  div.chat-right {
    justify-content: flex-end;
  }

  div .chat-avatar div {
    height: 6 * v.$spacing-unit;
    width: 6 * v.$spacing-unit;
    background: v.$red;
    color: v.$white;
    font-family: v.$font-family-title;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-left: 0;
    margin-right: 20px;
  }

  div.chat-right > .chat-avatar div {
    margin-left: 20px;
    margin-right: 0;
    background: v.$orange;
    font-size: 23px;
  }

  div .chat-text {
    padding: 16px;
    border-radius: v.$border-radius;
    background: v.$white;
    position: relative;
  }

  div .chat-text:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    left: -20px;
    border: 10px solid;
    border-color: transparent #ffffff transparent transparent;
  }

  div.chat-right > .chat-text {
    text-align: right;
  }

  div.chat-right > .chat-text:before {
    right: -20px;
    border-color: transparent transparent transparent v.$white;
    left: inherit;
  }
}
