@use "sass:math";
@use "../../style.scss" as v;

$fantasia: #0aacaf;

.fantasia {
  margin-top: math.div(v.$box-height, 3);
  padding: 16px;
  border: 10px solid $fantasia;
  border-radius: v.$border-radius;
  background-color: rgba($fantasia, 8%);

  a {
    color: $fantasia;

    &:hover {
      color: darken($fantasia, 8%);
    }
  }

  .btn-fantasia {
    margin: v.$spacing-unit * 2 0;
    padding: v.$spacing-unit v.$spacing-unit * 2;
    background-color: $fantasia;
    color: white;
    border-radius: v.$border-radius;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

    &:hover {
      color: white;
      background-color: darken($fantasia, 8%);
    }
  }

  small {
    font-size: 12px;
  }

  h4 {
    font-weight: 700;
    font-family: v.$font-family-title;
  }

  img {
    border-radius: v.$border-radius;
    width: 33%;
    @media (min-width: 768px) {
      // ipad
      width: 100%;
    }
  }
}
