@use "../../style.scss" as v;

.game-card {
  border: 10px solid v.$gray200;
  border-radius: v.$border-radius;

  .game-card-body {
    display: flex;
    align-items: center;
  }

  h4 {
    font-family: v.$font-family-title;
    font-weight: 700;
    color: v.$gray400;
    text-decoration: none !important;
  }

  p {
    letter-spacing: -0.3px;
    line-height: 1.6;
    margin-bottom: v.$spacing-unit;
  }

  small {
    font-size: 12px;
    color: v.$gray300;
  }

  & + .game-card {
    margin-top: v.$spacing-unit;
  }

  .game-card-img {
    width: 33%;
    @media (min-width: 768px) {
      // ipad
      width: 100%;
    }
  }
}
