@use "sass:math";
@use "../../style.scss" as v;

.game-card {
  border: 10px solid v.$gray200;
  border-radius: v.$border-radius;
  transition: border-color 0.2s ease-out;

  &.game-card-dark {
    border-color: darken(v.$gray200, 8%);

    &:hover {
      border-color: darken(darken(v.$gray200, 8%), 8%);
    }
  }

  &:hover {
    border-color: darken(v.$gray200, 8%);
  }

  &.weega-card {
    border-color: white;
    background-color: rgba(v.$weegaColor, 8%);

    &:hover {
      border-color: white;
    }

    h4 {
      font-size: 18px;
    }

    p {
      font-size: 14px;
    }
  }

  .game-card-body {
    display: flex;
    align-items: center;
  }

  h4 {
    font-family: v.$font-family-title;
    font-weight: 700;
    color: v.$gray400;
    text-decoration: none !important;
  }

  p {
    letter-spacing: -0.3px;
    line-height: 1.6;
    margin-bottom: v.$spacing-unit;
  }

  small {
    font-size: 12px;
    color: v.$gray300;
  }

  & + .game-card {
    margin-top: v.$spacing-unit;
  }

  .game-card-img {
    border-radius: v.$border-radius;
    width: 33%;
    @media (min-width: 768px) {
      // ipad
      width: 100%;
    }
  }

  .mechanisms {
    display: flex;
    flex-direction: row;
    margin-bottom: v.$spacing-unit;

    flex-wrap: wrap;
    row-gap: math.div(v.$spacing-unit, 2);
    column-gap: math.div(v.$spacing-unit, 2);

    .badge {
      padding: math.div(v.$spacing-unit, 2);
      font-size: 12px;
      background: v.$white !important;
      color: v.$red;
      border: 1px solid v.$red;
      font-weight: normal;
      font-family: v.$font-family-title;
    }
  }
}
