@use "../../style.scss" as v;

.post-writer {
  margin-top: v.$box-height / 2;
  padding: 16px;
  border: 10px solid v.$white;
  border-radius: v.$border-radius;
  background-color: v.$gray200;

  h4 {
    font-weight: 700;
    font-family: v.$font-family-title;
  }

  img {
    border-radius: v.$border-radius;
    width: 50%;
    @media (min-width: 768px) {
      // ipad
      width: 100%;
    }
  }
}
