@use "../style.scss" as v;

.layout {
  .global-header {
    padding: v.$spacing-unit 0;
    @media (min-width: 768px) {
      padding: 2 * v.$spacing-unit 0;
    }

    a {
      font-family: v.$font-family-title;
      font-weight: 700;
      color: v.$gray300;
      font-size: 20px;
      text-decoration: none;

      &:hover {
        color: v.$gray400;
        animation: color 300ms;
      }
    }

    & + main {
      $header-height: 104px;
      margin-top: $header-height;
      min-height: calc(100vh - $header-height - 88px);

      @media (min-width: 768px) {
        $header-height: 82px;
        margin-top: $header-height;
        min-height: calc(100vh - $header-height - 88px);
      }
    }
  }

  .global-footer {
    background: v.$gray400;
    font-family: v.$font-family-title;
    padding: 4 * v.$spacing-unit 0;
    color: v.$white;
    font-weight: 700;
  }
}
