@use "../../style.scss" as v;

.blog-post-header {
  padding: 60px 0;
  @media (min-width: 768px) {
    // ipad
    padding: 120px 0;
  }

  .blog-post-title {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 2 * v.$spacing-unit;
    @media (min-width: 768px) {
      // ipad
      margin-top: 0;
    }
  }

  h1 {
    font-size: 50px;
    @media (min-width: 768px) {
      // ipad
      font-size: 75px;
    }
    @media (min-width: 992px) {
      // desktop
      font-size: 100px;
    }

    line-height: 1;
    margin-bottom: 2 * v.$spacing-unit;
  }

  h4 {
    text-transform: uppercase;
    color: v.$gray300;
    font-size: 16px;

    span + span {
      margin-left: 5 * v.$spacing-unit;
    }
  }

  h1,
  h4 {
    font-family: v.$font-family-title;
    font-weight: 700;
  }

  p {
    font-family: v.$font-family-body;
    font-size: 20px;
  }

  img {
    border-radius: v.$border-radius;
  }

  .blog-post-header-img {
    width: 50%;
    @media (min-width: 768px) {
      // ipad
      width: 100%;
    }
  }
}
