@use "../../style.scss" as v;

.mechanisms {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 992px) {
    align-items: flex-start;
  }

  .badge {
    padding: v.$spacing-unit;
    background: v.$white !important;
    color: v.$red;
    border: 1px solid v.$red;
    font-weight: normal;
    font-size: 14px;
    font-family: v.$font-family-title;
    transition: background-color 0.2s ease-out;
  }
}
