@use "../../style.scss" as v;

@mixin store($color) {
  border-color: $color;

  &:hover {
    border-color: darken($color, 8%);
  }
}

.stores {
  li {
    display: inline-block;
    margin-right: v.$spacing-unit;
    margin-bottom: v.$spacing-unit;
  }

  img {
    border-radius: v.$border-radius;
    width: 94px;
    border: 5px solid red;
    transition: border-color 0.2s ease-out;
    cursor: pointer;

    &.dungeondice {
      @include store(v.$dungeonDiceColor);
    }

    &.magicmerchant {
      @include store(v.$magicMerchantColor);
    }

    &.getyourfun {
      @include store(v.$getYourFunColor);
    }

    &.fantasia {
      @include store(v.$fantasiaColor);
    }

    &.blasone {
      @include store(v.$blasoneColor);
    }

    &.mse {
      @include store(v.$mseColor);
    }

    &.pandora {
      @include store(v.$pandoraColor);
    }

    &.lsgiochi {
      @include store(v.$lsgiochiColor);
    }

    &.weega {
      @include store(v.$weegaColor);
    }

    &.kickstarter {
      @include store(v.$kickstarterColor);
    }

    &.gamefound {
      @include store(v.$gamefoundColor);
    }
  }
}
