@use "../../style.scss" as v;

.stores {
  li {
    display: inline-block;
    margin-right: v.$spacing-unit;
    margin-bottom: v.$spacing-unit;
  }

  img {
    border-radius: v.$border-radius;
    width: 100px;
    border: 5px solid red;
    transition: border-color 0.2s ease-out;

    &.dungeondice {
      border-color: v.$dungeonDiceColor;
      &:hover {
        border-color: darken(v.$dungeonDiceColor, 8%);
      }
    }

    &.fantasia {
      border-color: v.$fantasiaColor;
      &:hover {
        border-color: darken(v.$fantasiaColor, 8%);
      }
    }

    &.weega {
      border-color: v.$weegaColor;
      &:hover {
        border-color: darken(v.$weegaColor, 8%);
      }
    }
  }
}
